<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
    <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->
    <InstrumentationKey>ec1593bb-62c0-4193-acd5-34e7d2d2e0d3</InstrumentationKey>
</ApplicationInsights>
